$font-base-size: 62.5%;
$main-font: "Poppins", sans-serif;
$calculator-font: "Calculator";
$white: #fff;
$black-alpha: #00000080;
$black-shadow: #000000bf;
$background-body: #505050;
$background-main: #252525;
$background-display: #87a80f;
$button-border-radius: 1rem;
$display-radius: 0.65rem;
$calculator-radius: 1.04rem;
$gap-calculator: 1.28rem;
$gap-columns: 0.7rem;
$gap-rows: 0.55rem;
$padding-calculator: 2.4rem 1.92rem;
$display-padding: 0.33rem 0.65rem;
$display-font-size: 3.5rem;
$button-height: 7.5rem;
$button-font-size: 1.8rem;
$box-shadow-base: inset 0 0 0.45rem hsla(0, 0%, 0%, 0.5),
  0 0.35rem $black-shadow;
$box-shadow-hover: inset 0 0 0.45rem $black-alpha;

html {
  font-size: $font-base-size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: $calculator-font;
  src: url("../../font/Calculator.woff") format("woff"),
    url("../../font/Calculator.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

%buttonAfter {
  &::after {
    content: "";
    top: 50%;
    left: 50%;
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: $calculator-radius;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 250, 250, 0.05);
    box-shadow: inset -0.2rem 0 0.3rem rgba(250, 250, 250, 0.35);
  }
}

@mixin flex($flow: row, $align: stretch, $justify: start, $gap: 0) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin buttons {
  all: unset;
  cursor: pointer;
  position: relative;
  font-size: $button-font-size;
  text-align: center;
  width: 100%;
  height: $button-height;
  border: 0.1rem solid $black-alpha;
  border-radius: $button-border-radius;
  color: $white;
  box-shadow: $box-shadow-base;
  transition: all 200ms ease-in;
  @extend %buttonAfter;
  @content;

  &:hover,
  &:active {
    transform: translateY(1%);
    box-shadow: $box-shadow-hover;
  }
}

body {
  @include flex(row, center, center);
  font-family: $main-font;
  min-height: 100vh;
  background-color: $background-body;
}

.calculator {
  @include flex(column, center, center, $gap-calculator);
  width: 100%;
  max-width: 35rem;
  background-color: $background-main;
  padding: $padding-calculator;
  border-radius: $calculator-radius;
  box-shadow: 0 0 1.88rem rgba(0, 0, 0, 0.5);
  position: relative;

  &__display {
    @include flex(row, center, end, 0.42rem);
    font-family: $calculator-font, sans-serif;
    font-size: $display-font-size;
    width: 100%;
    height: 6.92rem;
    text-align: center;
    background-color: $background-display;
    padding: $display-padding;
    border-radius: $display-radius;
    box-shadow: inset 0 0 0.25rem 0.2rem darken($background-display, 100%);
    white-space: nowrap;
    overflow: hidden;
  }

  &__query-value {
    position: absolute;
    font-family: $calculator-font;
    font-size: 1.33rem;
    top: 5%;
    right: 7%;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 100%;
  column-gap: $gap-columns;
  row-gap: $gap-rows;

  &__key {
    @include buttons {
      background-color: lighten($background-main, 5%);
    }
  }

  &__action {
    @include buttons() {
      background-color: #ff0000;
    }
  }

  &__operator {
    @include buttons() {
      background-color: #ff8826;
    }
  }

  &__equal {
    @include buttons() {
      height: 100%;
      grid-area: 4 / 4 / span 2 / span 1;
      background-color: #008cff;
    }
  }
}
